{% extends 'tmpl_admin.html' %}
{% block content %}

	
	<table class="table table-responsive">
	  <tr>
		<th>Вопрос</th>
		<th>Ответ</th>
		<th>Статус</th>
		<th>Дата создания</th>
		<th></th>
		<th></th>
	  </tr>	
	  {% for question in questions %}
	  <tr>
		<td>{{question.question}}</td>
		<td class="short-string">{{question.answer|slice(0,70)}}<span>{{question.answer}}</span> </td>
		<td>{{question.title}}</td>
		<td>{{question.receipt_date|date("m-d-Y")}}</td>
		<td><a class="btn btn-primary" href="/questions/update/{{question.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Редактировать вопрос"></span> </a></td>
		<td><a class="btn btn-danger" href="/questions/delete/{{question.id}}"  data-toggle="tooltip" data-placement="top" title="Удалить вопрос"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></td>

	  </tr>
         {% else %}
		 <tr>
		   <td colspan="5"><p class="alert alert-danger text-center">Нет вопросов в теме</p></td>
	  </tr>
		 
		{% endfor %}
	</table>

	<div class="row">
	  <div class="col-md-offset-3 col-md-6">
		<a type="button" class="btn btn-warning" href="/themes/create">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить тему
          </a>
		<a class="btn btn-danger" href="/themes/delete/{{theme.id}}" data-toggle="tooltip" data-placement="top" title="Удалиться тема и все вопросы данной темы"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить тему</a>
	  </div>
	</div>
  

{% endblock %}