{% extends 'tmpl_admin.html' %}
{% block content %}
<h2>Темы</h2>
<div class="text-center mb-2">
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить тему
  </button>
</div>
<table class="table table-condensed">
  <tr>
    <th>#</th>
    <th>Название темы</th>
    <th>Всего вопросов</th>
    <th>Опубликовано</th>
    <th>Без ответа</th>
    <th>Cкрыто</th>
    <th></th>
    <th></th>
  </tr>
  {% for theme in themes %}
<tr>
  <td>{{ loop.index }}</td>
  <td><a href="admin/view_theme/{{theme.id_cat}}"> {{theme.title}}</a></td>
  <td class="text-center">{% if theme.count_quests %}{{theme.count_quests}}{% else %} - {% endif %}</td>
  <td class="text-center">{% if theme.status_view %}{{theme.status_view}}{% else %} - {% endif %}</td>
  <td class="text-center">{% if theme.status_empty %}{{theme.status_empty}}{% else %} - {% endif %}</td>
  <td class="text-center">{% if theme.status_hidden %}{{theme.status_hidden}}{% else %} - {% endif %}</td>
  <td class="text-right"><a class="btn btn-primary btn-sm" href="admin/update_theme/{{theme.id_cat}}">Редактировать тему</a></td>
  <td class="text-right"><a class="btn btn-danger btn-sm" href="admin/delete_theme/{{theme.id_cat}}">Удалить тему</a></td>
</tr>
  {% endfor %}
</table>
<div class="text-center mt-2"><a class="btn btn-warning" href="admin/add_theme"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить тему</a> </div>
{% if info %}
<p class="info">{{info}}</p>
{% endif %}
{% if error%}
<p class="error">{{error}}</p>
{% endif %}
<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Добавить тему</h4>
      </div>
      <div class="modal-body">

        <form method="post" id="themeForm">
          <div class="form-group">
            <label for="newTheme">Название темы</label>
            <input type="text" class="form-control" name="title" id="newTheme" placeholder="Название" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" form="themeForm">Добавить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}